<title>Admin Home Page</title>

<!-- Bootstrap 4 CSS library -->
<link rel='stylesheet' type="text/css" href="./../../resources/boostrap4/css/bootstrap.min.css" />
<link type="stylesheet" href="./../../resources/boostrap4/css/bootstrap-grid.min.css" />

<!-- Bootstrap 4 Javascript library -->
<script type="text/javascript" src="./../../resources/jquery/js/jquery-3.5.1.min.js"></script>
<script type="text/javascript" src="./../../resources/boostrap4/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript" src="./../../resources/boostrap4/js/bootstrap.min.js"></script>
