<!DOCTYPE html>
<html>
<head>
  <% include ./partials/header.ejs %>
</head>

<script>
  // let dbclient = require('./lib/SQLiteHelperJS/objects/DatabaseClient');
  // let dbObj = require('./lib/SQLiteHelperJS/objects/DataObject');
  // dbclient.InitDatabase("phuctest3");

  // $(document).ready(function(){
  //     dbclient.ExecuteQuery("SELECT * FROM users", function(result){
  //         if(result.result == true){
  //             dbObj = result.dataObject;
  //             res.send('Hello Express ' + dbObj.GetRowData(0).username);
  //         }
  //     });
  // });

</script>

<body>
  <div class='container-fluid'>
    <div class="row">
        <div id='navbarContainer' class='col-2'>
            <% include ./partials/nav.ejs %>
        </div>
        <div id='navbarContainer' class='col-10'>
            <%= body %>
        </div>
    </div>
  </div>
</body>
</html>
